@charset "utf-8";
body {
	text-align: center;
	/*background-color: #fff;*/
	
}

#building {
  padding: 0 12px;
	width: 812px;
	margin: 0 auto;
	/*background-color: #fff;*/
	/*padding: 0;*/
	
	color: #000;
}



#header {

background: url(../images/banner/gift.jpg) no-repeat ;
	height: 345px;
/*background-color: #fff;*/
}

#header p{
font-size: 0.95em;

text-align:left;
position:relative;
top: 167px;
left:410px;
color: #fff;
}


#contents {
	margin: 0;
	padding: 0px 0px ;/* ?W12 ??18 ?U ?k*/
	/*background-color: #fff;*/
	color: #000;
	
}

#twcaseal {
left:600px;
top:450px;
}


/*
#footer {
	margin: 0;
	padding: 12px 18px;
	background-color: #07e;
	/*background: url(../images/login-footer.png) no-repeat ;*/
	color: #000;
	height: 50px;
}
*/





