@charset "utf-8";
body {
	margin:0;
}

#building {
	width:826px;
	margin:0 auto;
	color: #000;
	background-color:#ffffff;
	border:1px solid #dddddd;
}

#header {
	background:#ffffff url(../images/banner/login.jpg) no-repeat;
	height:350px;
	width:822px;
	margin:0 auto;
	background-color: #fff;
	border:2px solid #fff;
}

#contents{	
	position:relative;
	z-index:0
}

#footer {
	background-color: #fe7f0e;
	color:#FFF
}

#footer address {
	font-style:normal
}

#footer address {
	font-size: 0.8em;
	letter-spacing: 0.2em;
}

#footer {
	margin: 0;
	padding: 12px 18px;
	text-align: right;
}

#twcaseal {
	position:absolute;
}

.inner_title_top {
	border:1px solid #ddd;
	border-bottom:0;
	color:#000;
	text-align:center;
	line-height:20px;	
}
.inner_title_middle {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color:#fff;
	padding:3px;
}
.inner_title_bottom {
	border: 1px solid #ddd;
	border-top:0;
	background-color:#fff;
}


table.round_box td.top
{
	background: url(../images/round_pixel_black.gif) repeat-x left top;
	font-size: 1px;
}

table.round_box td.bottom
{
	background: url(../images/round_pixel_black.gif) repeat-x left bottom;
	font-size: 1px;
}

table.round_box div.top_left
{
	background: url(../images/round_top_left2.gif) no-repeat left top;
	height: 10px;
}

table.round_box div.top_right
{
	background: url(../images/round_top_right2.gif) no-repeat right top;
	height: 10px;
}

table.round_box div.bottom_left
{
	background: url(../images/round_bottom_left2.gif) no-repeat left bottom;
	height: 10px;
}

table.round_box div.bottom_right
{
	background: url(../images/round_bottom_right2.gif) no-repeat right bottom;
	height: 10px;
}

table.round_box td.contents
{
	padding-left: 10px;
	padding-right: 10px;
	border-left: #555555 1px solid;
	border-right: #555555 1px solid;
}