input.fat {
	font-size: 15px;
	padding: 5px;
	box-sizing: border-box;
}

select {
	font-size: 16px;
	padding: 5px;
	border: 1px solid silver;
	border-radius: 0px;
	-webkit-border-radius: 0px;	
}

input[type=radio] {
	float: left;
	height: 30px;
	margin: 0 0 0 10px;
	box-sizing: border-box;
}
input[type=radio].scale {
	float: left;
	cursor: pointer;
	margin: 0;
	width: 100%;
	padding: 0;
	height: 30px;
}

input:checked + label {
	background-color:rgba(24,119,58,0.8);
	color:#fff;
	border-radius: 5px;
}