li.tab {
	height: 25px;
	line-height: 25px;
	position: relative;
	display:block;	
	float: left;
	border: 0px solid #444;
	border-left-color: #aaa;
	border-bottom-width:0px;
	border-bottom-color:#777;
	list-style: none;
	padding: 5px;
	margin: 3px;
	color:#fff;
	cursor:pointer;
	background-color:#fff 
}

li.end {
	width:0;
	border-right-color:#555;
}

li.tab:first-of-type {
	border-left-color:#555;
	border-top-color:#555;	
}

li.tab.active {
	border-bottom-color:#000;
	z-index:10;
	background-color:#ddd
}

li.tab.init {
	border-bottom-color:#444;
	z-index:10;
	color:#000;
	background-color:#fff 
}

li.tab.active a {
	color:#63bd2b	
}

li.tab a {
	display:block;	
	text-decoration:none;
	font-weight:400;
	color:#63bd2b;
	font-weight:bold
}
li.tab.button a {
	color:#fff;
}