@charset "utf-8";
body {
	margin:0;
	font-size: 16px;
	font-family: '微軟正黑體','verdana';
}
#header {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
	width: 100%;
	height: 350px;
}
#building {
	margin: 0 auto;
	width: 823px;
  	padding: 0 4px 0 4px;	
	border: 0px solid #000;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
#contents {
	margin: 0;
	padding: 0;
	color: #000;
	width: 822px;
	border: 0px solid #000;
}

.readme {
	line-height: 30px
}
footer {
	margin: 0;
	padding: 12px 18px;
}

h4.title,h3.title,h2.title {
	margin: 5px 0 5px 0;
}

article,aside,dialog,footer,header,section,footer,nav,figure,menu{
	display: block;
}

.layer1 {
	padding-left: 50px;
}

#tooltip {
	border: 1px solid #999;
	border-radius: 5px;
	padding: 10px;
}

.tooltip {
	border: 1px solid #999;
	border-radius: 5px;
	padding: 10px;
}