.btn {    
    cursor: pointer;   
    text-align: center;
}

.btn.box {
    border: 1px solid #ccc;    
}

.btn.box:hover {
    border: 1px solid #aaa;
}

.btn.default {
    position: absolute;
    height: 30px;
    width: 100px;
    box-sizing: border-box;    
    line-height: 30px
}