li.tab {
	width:14%;
	height:40px;
	position: relative;
	display:block;	
	float: left;
	border: 1px solid #444;
	border-left-color: #aaa;
	border-bottom-width:2px;
	border-bottom-color:#777;
	list-style: none;
	padding: 0;
	margin-bottom: -1px;
	padding-bottom: 1px;
	color:#63bd2b;
	cursor:pointer;
	background-color:#fff 
}

li.end {
	width:0;
	border-right-color:#555;
}

li.tab:first-of-type {
	border-left-color:#555;
	border-top-color:#555;	
}

li.tab.active {
	border-bottom-color:#000;
	z-index:10;
	background-color:#ddd
}

li.tab.init {
	border-bottom-color:#444;
	z-index:10;
	color:#000;
	background-color:#fff 
}

li.tab.active a {
	color:#fff	
}

li.tab a {
	display:block;	
	text-decoration:none;
	font-weight:400;
	color:#63bd2b;
	font-weight:bold
}